<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LevelIOSSdkExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19B6447B1DC3CA7F00006C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B644911DC3CA7F00006C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19B6449C1DC3CA7F00006C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
